$colorMain: red;

body {
    background: $colorMain;
}

.p-header {
    padding-top: 220px;
    background: url(../images/pika.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 200px 200px;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
}